*.db
1-10_ObjC/DerivedData
1-10_ObjC/ProjectEulerSolutions.xcodeproj/project.xcworkspace/xcuserdata/jnobels.xcuserdatad
1-10_ObjC/ProjectEulerSolutions.xcodeproj/xcuserdata
1-10_ObjC/ProjectEulerSolutions.xcodeproj/project.xcworkspace
